/* Author Page Css */

/* Skill Card of Social Media Account */
.skill-card {
      margin-bottom: 20px;
    }

.card-container {
  display: flex;
  justify-content: center;
}
.card {
  width: 300px;
  height: 300px;
  border-radius: 8px;
  margin: 10px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.05);
}
.card-content {
  padding: 20px;
}
.card-content h3 {
  margin-top: 0;
}
.card-content p {
  margin-bottom: 0;
}
.card-text p {
  color: black;
}
/* Sill card size */
.card-skill {
  width: 200px;
  height: 250px;
  border-radius: 8px;
  margin: 10px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.card-skill:hover {
  transform: scale(1.05);
}
h1,h2
{
    text-align: center;
    text-decoration: underline;
}

/* Error Message if the github calander is not showing*/
.error-message {
  background-color: #ffcccc;
  border: 1px solid #ff0000;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.error-icon {
  font-size: 24px;
  color: #ff0000;
  margin-right: 10px;
}

.error-text {
  color: #ff0000;
}
