/* Service Page Css  */
 /* Skill Card of Social Media Account */
.skill-card {
    margin-bottom: 20px;
  }
  
  .card-container {
    display: flex;
    justify-content: center;
  }
  
  .card {
    width: 300px;
    height: 300px;
    border-radius: 8px;
    margin: 10px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-content h3 {
    margin-top: 0;
  }
  
  .card-content p {
    margin-bottom: 0;
  }
  
  .card-text p {
    color: black;
  }
  
  /* Skill card size */
  .card-skill {
    width: 200px;
    height: 250px;
    border-radius: 8px;
    margin: 10px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .card-skill:hover {
    transform: scale(1.05);
  }
  
  h1, h2 {
    text-align: center;
    text-decoration: underline;
  }
  
  /* Responsive Styles */
  
  /* For Mobile Devices */
  @media screen and (max-width: 767px) {
    .card-container {
      flex-wrap: wrap;
    }
  
    .card {
      width: calc(50% - 20px);
    }
  
    .card-skill {
      width: 100%;
    }
  }
  
  /* For Laptops and Desktops */
  @media screen and (min-width: 768px) {
    /* No changes needed for laptop view */
  }
  