/* Circle Image Css */
.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  transform: translateY(-5%);
  overflow: hidden;
}
.circle img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h1,h2{
  text-decoration: underline;
}
/* Skill Card of Social Media Account */
.skill-card {
      margin-bottom: 20px;
    }

.card-container {
  display: flex;
  justify-content: center;
}
.card {
  width: 300px;
  height: 300px;
  border-radius: 8px;
  margin: 10px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.05);
}
.card-content {
  padding: 20px;
}
.card-content h3 {
  margin-top: 0;
}
.card-content p {
  margin-bottom: 0;
}
.card-text p {
  color: black;
}
/* Sill card size */
.card-skill {
  width: 200px;
  height: 250px;
  border-radius: 8px;
  margin: 10px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.card-skill:hover {
  transform: scale(1.05);
}

/* Moving Hande animation */
.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

/* Error Message if the github calander is not showing*/
.error-message {
  background-color: #ffcccc;
  border: 1px solid #ff0000;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.error-icon {
  font-size: 24px;
  color: #ff0000;
  margin-right: 10px;
}

.error-text {
  color: #ff0000;
}
