
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap')

body 
{
    font-family: 'Open Sans', sans-serif;
}

h1 
{
  text-align: center;
}

p {
  text-align: justify;
}
ul {
  text-align: justify;
}
ol {
  text-align: justify;
}
