<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
    <body>
        <script type="text/javascript">
            // Immediately set theme on page load
            setThemeByUserPref();
        </script>
        <!-- {{ if .Site.Params.gtm_id}}<noscript><iframe src="//www.googletagmanager.com/ns.html?id={{ .Site.Params.gtm_id }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>{{ end }} -->
        {{ if $.Site.Params.gtm }}
            <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ $.Site.Params.gtm }}"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <!-- End Google Tag Manager (noscript) -->
        {{ end }}
        {{- partial "header.html" . -}}
        <main id="content">
        {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}
        
    </body>

</html>
