*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.timeline {
  padding: 50px 0;
}

.timeline-item {
  position: relative;
  list-style-type: none;
  width: 6px;
  background-color: black;
  margin: 0 auto;
  padding-top: 50px;
}

.timeline-item::after {
  background-color: black;
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.timeline-content {
  position: relative;
  width: 400px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  /* margin-top: 50px; */
}

.timeline-item:nth-child(odd) .timeline-content {
  left: 45px;
}

.timeline-item:nth-child(even) .timeline-content {
  left: -445px;
}

.timeline-content time {
  font-weight: bold;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
  text-decoration: underline;
}

.timeline-content {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline-item:nth-child(odd) .timeline-content {
  transform: translate3d(200px, 0, 0);
}

.timeline-item:nth-child(even) .timeline-content {
  transform: translate3d(-200px, 0, 0);
}

.timeline-item.show .timeline-content {
  transform: none;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .timeline-content {
    width: 250px;
  }
  .timeline-item:nth-child(even) .timeline-content {
    left: -289px;
  }
}

.green-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.green-button:hover {
  background-color: #45a049;
}

.timeline-content h3 {
  margin-top: 0;
  text-decoration: underline;
}




























/* Orginal Code */
/* 
ul {
  padding: 50px 0;
}

ul li {
  position:relative;
  list-style-type: none;
  width: 6px;
  background-color: black;
  margin: 0 auto;
  padding-top: 50px;
}

ul li::after {
  background-color: black;
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  bottom: 0;
  }


ul li div{
  position: relative;
  width: 400px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  bottom: 0;
}

ul li:nth-child(odd) div {
  left: 45px;
}

ul li:nth-child(even) div {
  left: -445px;
}

time {
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}

ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

ul li.show div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  ul li div {
    width: 250px;
  }
  ul li:nth-child(even) div {
    left: -289px;

  }
}

.green-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  }
.green-button:hover {
    background-color: #45a049;
  } */
