/* Css File for the Nav Bar */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 60%;
    width: 800%;
    left: -400%;
    padding: 12px 16px;
    z-index: 1;
    animation: fade-in 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.dropdown-container:hover .dropdown-menu {
    display: block;
}

.dark-theme .dropdown-menu {
    transition: background-color 0.3s ease-in-out;
}

  .dropdown-container {
    position: relative;
  }
  
  .dropdown-toggle {
    background: none;
    border: none;
    cursor: pointer;
  }
  .dropdown-item {
    list-style-type: none;
    margin-bottom: 8px;
  }
  
  .dropdown-item a {
    text-decoration: none;
  }
  
  .dropdown-item:hover {
    background-color: #f5f5f5; 
    }
  
  .dark-theme .dropdown-item a {
    color: #fff; 
  }
  
  .dark-theme .dropdown-item:hover {
    background-color: #555; 
   
  }