<div class="post container">
    <div class="post-header-section">
        <h1>{{ .Title }}</h1>
        <small role="doc-subtitle">{{ .Description }}</small>
        <p class="post-date">
            {{ dateFormat "January 2, 2006" .Date }}
        </p>

        <ul class="post-tags">
        {{ range .Params.tags }}
            <li class="post-tag"><a href="{{ "tags/" | absLangURL }}{{ . | urlize }}">{{ . }}</a></li>
        {{ end }}
        </ul>
    </div>

    <div class="post-content">
        <p>
            {{ .Content }}
        </p>
    </div>

    <!-- <script src="https://utteranc.es/client.js" 
        repo="https://github.com/rafay99-epic/Future-Insight.github.io" 
        issue-term="title" 
        label="comments-Future-insight" 
        theme="github-dark" 
        crossorigin="anonymous" 
        async> 
    </script> -->

    <div class="prev-next">
        {{ if eq .Site.Params.TogglePreviousAndNextButtons "true" }}
            {{ if or .PrevInSection .NextInSection }}
                {{ partial "prev-next.html" . }}
            {{ end }}
        {{ end }}
    </div>

    <br> 
    <br>
    <br>
    <br>
    <br>

    <!-- Comments linked with GitHub Issues -->
    <script src="https://utteranc.es/client.js"
        repo="rafay99-epic/Future-Insight"
        issue-term="title"
        label="comments"
        theme="preferred-color-scheme"
        crossorigin="anonymous"
        async>
    </script>
    
</div>
